/* header  */
.header{
    position: fixed;
    z-index: 9999;
    top: 40px;
    left: 0;
    width: 100%;
}
.header .inner-main{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding : 25px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}
.header .inner-main .inner-logo img{
    height: 30px;
    width: auto;
}
.header .inner-main .inner-menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.header .inner-main .inner-menu ul li{
    font-weight: 400;
    margin-left: 50px;
    font-size: 14px;
}
.header .inner-main .inner-menu .active{
    color: var(--color-two);
}
.header .inner-main .inner-bar{
    display: none;
}
@media (max-width:1200px) {
    .header .inner-main .inner-menu ul li{
        font-weight: 400;
        margin-left: 30px;
        font-size: 14px;
    }
}
@media (max-width:992px) {
    .header .inner-main ul li{
        display: none;
    }
    .header .inner-main .inner-bar{
        display: block;
        font-size: 20px;
    }
}
/* end header  */
/* section one  */
.section-one{
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.section-one .inner-wrap{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
/* button  */
.button{
    background-color: var(--color-two);
    border-radius: 40px;
    display: inline-block;
    width: 160px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 40px;
    font-size: 15px;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background-color: var(--color-one);
    color: #fff;
}
/* end button  */
/* end section one  */
/* section two  */
.section-two .inner-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
}
.section-two .inner-box .inner-icon{
    background-color: var(--color-one);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
}
.section-two .inner-box .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section-two{
    margin-top: -200px;
}
.section-two .inner-box .inner-title h3{
    font-size: 18px;
}
.section-two .inner-box .inner-title{
    margin-bottom: 20px;
}
.section-two .inner-box .inner-desc p{
    font-weight: 150;
}
.section-two .inner-box .inner-icon:hover{
    background-color: var(--color-two);
}
@media (max-width: 992px) {
    .section-two .inner-box{
        margin-bottom: 25px;
    }
    .section-two{
        margin-top: 0px;
    }
}
/* end section two  */
/* section three  */
.section-three{
    margin-top: 100px;
}
.section-three .inner-img{
    text-align: center;
}
.section-three .inner-img img{
    max-width: 100%;
    height: auto;
}
.section-three .row:nth-child(1){
    margin-bottom: 80px;
}
.section-three .inner-content .inner-desc{
    font-weight: 200;
}
.section-three .inner-content .inner-title{
    margin-bottom: 35px;
}
.section-three .row:nth-child(2) .hr{
    margin: 0;
}
/* end section three  */
/* section four  */
.section-four{
    padding: 80px;
}
.section-four .inner-img{
    text-align: center;
}
.section-four .inner-img img{
    max-width: 100%;
    height: auto;
}
.section-four .inner-content .inner-title{
    margin-bottom: 35px;
}
.section-four .inner-content .inner-desc{
    font-weight: 200;
}
/* end section four  */
/* section five  */
.section-five {
    padding: 90px 0;
    background-image: url(../images/work-process-bg.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.section-five .inner-content{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
}
.section-five .inner-content .inner-title{
    margin-bottom: 30px;
}
.section-five .inner-content .inner-desc{
    margin-bottom: 60px;
}
.section-five .inner-item .inner-box img{
    width: auto;
    height: 100%;
    margin-bottom: 20px;
}
.section-five .inner-item .inner-box .inner-title{
    font-size: 20px;
}
.section-five .inner-item{
    background-color: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease 0s;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}
.section-five .inner-item .inner-box .inner-desc{
    color: #777777;
    font-weight: 200;
}
.section-five .inner-item::before{
    content: "";
    position: absolute;
    width: 100%;
    background-color: #fff;
    bottom: -10px;
    height: 100%;
    z-index: 1;
    opacity: .15;
    border-radius: 20px;
    right: -15px;
}
.section-five .inner-item:hover{
    margin-top: -10px;
}
/* end section five  */
/* section six  */
.section-six {
    padding: 80px;
}
.section-six .inner-content{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.section-six .inner-content .inner-desc{
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 60px;
}
.section-six .inner-box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 30px;
    border-radius: 25px;
}
.section-six .inner-box .inner-img{
    text-align: center;
    margin-bottom: 25px;
}
.section-six .inner-box .inner-img img{
    width: auto;
    height: 100%;
}
.section-six .inner-box .inner-desc{
    font-weight: 300;
    margin-bottom: 25px;
}
.section-six .inner-box .inner-wrap{
    display: flex;
    align-items: center;
}
.section-six .inner-box .inner-wrap .inner-images{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.section-six .inner-box .inner-wrap .inner-images img{
    border-radius: 50%;
}
.section-six .inner-box .inner-wrap .inner-people{
    font-weight: 300;
    transition: all 0.3s ease 0s;
    position: relative;
}
.section-six .inner-box .inner-wrap .inner-people:hover{
    margin-left: 10px;
}
.section-six .inner-box .inner-wrap .inner-people .inner-position{
    color: var(--color-two);
}
/* end section six  */
/* section seven */
.section-seven{
    padding: 80px 0;
    background-color: #F2F2FE;
}
.section-seven .inner-content{
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.section-seven .inner-content .inner-desc{
    font-weight: 200;
}
.section-seven .inner-box{
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 0;
    text-align: center;
}
.section-seven .inner-box .inner-title{
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}
.section-seven .inner-box .inner-box-price {
    background-color: var(--color-one);
    display: inline-block;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 13px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 25px;
}
.section-seven .inner-box .inner-desc{
    font-weight: 200;
    font-size: 14px;
    line-height: 2.2;
    margin-bottom: 25px;
}
.section-seven .inner-box .inner-purchase{
    background-color: var(--color-one);
}
.section-seven .inner-box .inner-purchase:hover{
    background-color: var(--color-two);
}
.section-seven .inner-box .second-price{
    background-color: var(--color-two);
}
.section-seven .inner-box .inner-icon{
    font-size: 35px;
}
.section-seven .inner-box .inner-time{
    font-size: 15px;
}
.section-seven .inner-box ul .hide{
    text-decoration-line: line-through;
}
/* end section seven  */
/* section eight  */
.section-eight{
    background-image: url(../images/fun-facts-bg.png);
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    padding: 100px;
}
.section-eight .inner-wrap{
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.section-eight .inner-wrap span:nth-child(1){
    font-weight: 600;
    font-size: 40px;
}
.section-eight .inner-wrap span:nth-child(2){
    font-weight: 400;
}
.section-eight .inner-wrap span{
    display: block;
}
.section-eight .inner-fit span::after{
    content: "";
    background-image: url(../images/circle-dec.png);
    top: 50px;
    left: 90%;
    position: absolute;
    width: 70%;
    height: 32px;
    background-repeat: no-repeat;
}
.section-eight .inner-wrap:hover{
    margin-top: -10px;
}
/* end section eight  */
/* section nine  */
.section-nine{
    padding: 100px;
}
.section-nine .inner-content{
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.section-nine .inner-img{
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
}
.section-nine .inner-img img{
    width: auto;
    height: 100%;
}
.section-nine .inner-box{
    text-align: center;
}
.section-nine .inner-box .inner-title{
    margin-bottom: 25px;
    font-weight: 500;
}
.section-nine .inner-box .inner-desc{
    margin-bottom: 25px;
    font-weight: 200;
}
.section-nine .inner-box .inner-button{
    background-color: var(--color-one);
}
.section-nine .inner-box .inner-button:hover{
    background-color: var(--color-two);
}
/* end section nine  */
/* section ten  */
.section-ten{
    padding: 140px;
    background-color: #F2F2FE;
}
.section-ten .inner-content{
    text-align: center;
    margin-bottom: 25px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
}
.section-ten .inner-box .inner-box-content{
    font-weight: 600;
    margin-bottom: 25px;
}
.section-ten .inner-box .inner-box-desc{
    margin-bottom: 25px;
    font-weight: 200;
}
.section-ten .inner-box .inner-box-desc-bot{
    font-weight: 200;
}
.section-ten .contact-form fieldset input{
    border-radius: 50px;
    padding-left: 25px;
    border: none;
}
.section-ten .contact-form fieldset{
    margin-bottom: 25px;
}
.section-ten .contact-form fieldset textarea{
    width: 100%;
    border: none;
    padding-left: 25px;
    border-radius: 20px;
}
.section-ten .contact-form .inner-button{
    background-color: var(--color-one);
}
.section-ten .contact-form .inner-button:hover{
    background-color: var(--color-two);
}
/* end section ten  */
/* footer  */
.footer{
    background-color: #8A60E9;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer .inner-icon ul{
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer .inner-icon ul li{
    margin-right: 30px;
    font-size: 30px;
}
.footer .inner-icon ul li:nth-child(5){
    margin-right: 0;
}
.footer .last{
    font-weight: 600;
    font-size: 14px;
}
/* end footer  */